.App {
  text-align: center;
  background: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProductSingle,
.ProductCard {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  padding: 1em;
}

.ProductCard:hover {
  background: lightgray;
}

.ProductCard:active {
  background: white;
}

.ProductsList {
  width: 100%;
}

.ProductsContainer {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
}

button {
  font-size: 1rem;
  background: black;
  color: white;
  padding: 0.5em 1em;
  border: none;
  margin-top: 1em;
}

button:hover {
  background: white;
  color: black;
}

button:active {
  background: black;
  color: white;
}

input {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
